/* Use your own code or past solution for Great Idea Web Page CSS here! */  
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Lacquer', 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Tomorrow', 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Global */
body{
	margin: 40px 5% 60px;
}
header a{
	text-decoration: none;
	color: slategray;
}
header{
    width: 60%;
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4% auto;
}
header nav{
    width: 70%;
    display: flex;
    justify-content: space-between;

}
footer{
	width: 60%;
	margin: 1% auto;
}
footer .contact{
	width: 20%;
}
footer .copy{
	text-align: center;
}

/*/* index.html */
/* Subhead */
.subhead{
    width: 60%;
	margin: 1% auto;
	display: flex;
    justify-content: space-between;
    text-align: center;
}
#emptydiv{
    width: 1%;
}
.subhead h1{
	margin-top: 20px;
	font-size: 80px;
	font-weight: 580;	
}
.subhead button{
	background-color: white;
	border: 1px solid black;
	height: 38px;
	width: 190px;
	font-size: 18px;
}
.subhead button:hover{
	background-color: black;
	color: white;
}
/* Main Content */
.maincontent{
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	padding: 1% 0 1% 0;
	width: 60%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container1 {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	margin: 2% 0;
}
.container1 .col1{
	width: 49%;
}
.maincontent .mid-image{
	display: flex;
	justify-content: center;
}
.maincontent .mid-image img{
	width: 100%;
}
.container2 {
	font-size: 18px;
	display:  flex;
	justify-content: space-between;
	margin: 2% 0;
}
.container2 .col2{
	width: 32%;
}
/* MQ */
@media (max-width: 800px){
	body{
		width: 100%;
		margin: 2% auto;
		padding: 0 4%;
	}
	header{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
    	justify-content: flex-end;
    	align-items: center;
    	margin: 4% auto;
	}
	header nav{
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 5%;
	}
	.subhead{
		width: 100%;
		margin: 5% auto;
		justify-content: center;
	}
	.subhead img, .subhead #emptydiv{
		display: none;
	}	
	.maincontent{
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		width: 100%;
		padding: 4% 0;
		margin: 10% auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.maincontent .mid-image img{
		width: 100%;
		margin: 5% auto;
	}
	footer{
		width: 100%;
		margin: 0;
	}
	footer .contact{
		width: 30%;
	}
}
@media (max-width: 500px){
	body{
		width: 100%;
		margin: 5% 0;
	}
	header{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
	header nav{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
	}
	header nav a{
		width: 100%;		
		border-bottom: 1px solid lightslategrey;
		text-align: center;
		padding: 4% 0;
		font-size: x-large;
	}
	#first-a{
		border-top: 1px solid lightslategrey;
	}
	.subhead{
		width: 100%;
		margin: 5% auto;
		justify-content: center;
	}
	.subhead img, .subhead #emptydiv{
		display: none;
	}	
	.maincontent{
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		width: 100%;
		padding: 10% 0;
		margin: 10% auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.container1 {
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.container1 .col1{
		width: 100%;
		margin: 10% 0;

	}
	.maincontent .mid-image img{
		width: 100%;
		margin: 5% auto;
	}
	.container2 {
		font-size: 18px;
		display:  flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 2% 0;
	}
	.container2 .col2{
		width: 100%;
		margin: 10% auto;
	}
	footer{
		width: 100%;
		margin-bottom: 5%;
	}
	footer .contact{
		width: 50%;
	}
}
